

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$custom: rgba(205, 199, 241, 0.47);
$black: rgba(0, 0, 0, 0.45);
$white: rgb(255, 255, 255);
$last: rgba(55, 63, 227, 0.29);
$background: rgb(255, 255, 255);
