<div class="wrap-header">
  <h1> MY COLLECTION</h1>

  <app-search></app-search>
<div class="wrap-navigate">
  <div>login
    <a routerLink="auth">
      <button *ngIf="login else logout"><mat-icon aria-hidden="false"   fontIcon="login"></mat-icon>
      </button>
    </a>
    <ng-template #logout>
      <button ><mat-icon aria-hidden="false"  fontIcon="logout"></mat-icon></button>
    </ng-template>

  </div>
  <button mat-button [matMenuTriggerFor]="beforeMenu">{{ "HEADER.THEME" | translate }}
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>day
      <mat-icon aria-hidden="false"  fontIcon="sunny"></mat-icon></button>
    <button mat-menu-item>night
      <mat-icon aria-hidden="false"  fontIcon="bedtime"></mat-icon></button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="afterMenu">{{ "HEADER.LANG" | translate }}
  </button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item (click)="switchLanguageEN()">en</button>
    <button mat-menu-item (click)="switchLanguageRU()">ru</button>
  </mat-menu>
</div>

</div>
